@page "/"

@code {
	static DateTime currentDate = DateTime.Now;
	static DateTime date = DateTime.Now;
	static int daysInMonth = DateTime.DaysInMonth(date.Year, date.Month);
	static int firstDayOfMonth = (int)new DateTime(date.Year, date.Month, 1).DayOfWeek;
	static int rows = (int)Math.Ceiling((daysInMonth + firstDayOfMonth) / 7.0);
	List<Calendar> calendar = Calendar.GetCalendar(DateTime.Now);

	int day = 1;
	static DateTime activeDate = new DateTime(currentDate.Ticks);

	void Switch(int months)
	{
		day = 1;
		date = date.AddMonths(months);
		daysInMonth = DateTime.DaysInMonth(date.Year, date.Month);
		firstDayOfMonth = (int)new DateTime(date.Year, date.Month, 1).DayOfWeek;
		rows = (int)Math.Ceiling((daysInMonth + firstDayOfMonth) / 7.0);
	}

	void HandleDateClick(int activeDay)
	{
		activeDate = new DateTime(date.Year, date.Month, activeDay);
		day = 1;
	}
}

<div class="header">
	<h1 style="color: white">Hello, Jake!</h1>
	<p style="color: lightgray">@currentDate.ToString("dddd d MMMM")</p>
</div>

<div>
	<div class="calendar-container">
		<div style="display: flex; align-items: center; justify-content: space-between;">
			<h3>@activeDate.ToString("dd MMMM yyyy")</h3>
			<div style="display: flex; align-items: center; justify-content: center">
				<button @onclick="() => Switch(-1)">⬅️</button>
				<button @onclick="() => Switch(1)">➡️</button>
			</div>
		</div>
		<table>
			<tr>
				@foreach (Calendar c in calendar.GroupBy(x => new { x.Day.ShortName, x.Day.Index }).Select(g => g.First()).OrderBy(x => x.Day.Index).ToList())
				{
					<th>@c.Day.ShortName</th>
				}
			</tr>
			@for (int i = 0; i < rows; i++)
			{
				<tr>
					@for (int j = 0; j < 7; j++)
					{
						var activeDay = day;
						if (i == 0 && j < firstDayOfMonth)
						{
							<td style="background-color: #333"></td>
						}
						else if (day > daysInMonth)
						{
							<td style="background-color: #333"></td>
						}
						else
						{
							<td class="@(day == date.Day && date.Month == currentDate.Month && date.Year == currentDate.Year ? "today" : day == activeDate.Day && activeDate.Month == date.Month && activeDate.Year == date.Year ? "active" : "")"
								@onclick="() => HandleDateClick(activeDay)">
								@day
							</td>
							day++;
						}
					}
				</tr>
			}
		</table>
	</div>

	<div class="form-group">
		<h4>Rate Your Day</h4>
		<select id="rating" name="rating">
			<option style="background-color: #ffbaba" class="rating-option" value="1"></option>
			<option style="background-color: #ff7b7b" class="rating-option" value="2"></option>
			<option style="background-color: #ff5252" class="rating-option" value="3"></option>
			<option style="background-color: #ff0000" class="rating-option" value="4"></option>
			<option style="background-color: #a70000" class="rating-option" value="5"></option>
			<option style="background-color: #ffbaba" class="rating-option" value="6"></option>
		</select>
	</div>

	<div class="form-group">
		<h4>Journal Entry</h4>
		<textarea id="entry" name="entry" rows="5" cols="50"></textarea><br>
	</div>

	<div class="form-group">
		<h4>Todo List</h4>
		<ul>
		</ul>
	</div>
</div>