.header {
    background-color: darkcyan;
    padding: 20px 5%;
}

.calendar-container {
    margin: 5%;
}

h1, h2, h3, h4 {
    margin: 0;
}

h4 {
    margin: 0 0 3px 0;
}

.form-group {
    margin: 10px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type=number], textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    color: #555;
    border: 1px solid #ccc;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    margin: 5px auto;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px 10px;
    text-align: center;
}

th {
    background-color: #0D340D;
    color: white;
}

td {
    font-size: 14px;
    color: #555;
}

td:hover {
    background-color: #eee;
    cursor: pointer;
}

input[type=checkbox] {
    margin-right: 10px;
}

.today {
    background-color: #28A228 !important;
}

.active {
    background-color: #77DD77 !important;
}